
body, html {
    font-family: Helvetica;
    color: white;
    background: linear-gradient(to right, grey, black); 
}

#wrap {
    width: 750px;
    margin: 0 auto;
    background: linear-gradient(to right, grey, black);
}

#header {
    background: #ddd;
}

#toolbar {
    background #c99;
}

#main {
    float: left;
    width: 500px;
    height: 1024px;
    background: linear-gradient(to bottom right, #181815, #CCCCB2);
}

#sidebar {
    float: right;
    width: 250px;
}

#footer {
    clear: both;
    background: linear-gradient(to left, white, black);
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    padding: 10px;
    background-color: #ddd;
    border: solid 1px #666;
    font-weight: bold;
}

#logo {
    float: center;
    height: 30px;
    left:auto;
    right:auto;
    top: 20px;
    border: solid 4px solid black;

}

.button:hover {
    background-color: #ddf;
}


#chat-area {
    float: left;
    width: 600px;
    height: 300px;
    display: none;
}

.chat-messages {
    height: 180px;
    border-bottom: solid 2px #ddd;
    overflow: auto;
}

#chat-area input {
    float: left;
    margin-left: 200px;
    margin-top: 10px;
    display: none;
}

#roster-area {
    float: left;
    margin-left: 20px;
    padding: 20px;
    width: 100%;
    height: 300px;
    display: none;
}

.chat-name {
    color: #c33;
}

.chat-message .me {
    color:#33c;
}

.chat-event {
    font-style: italic;
    font-size: 75%;
}

.roster-contact {
    padding: 3px;
}

.roster-contact:hover {
    background-color: #aaa;
    color: white;
}

.roster-name {
    font-size: 150%;
}

.online {
    color: #3c3;
}

.away {
    color: #c33;
}

.offline {
    color: #ccc;
}

#log {
    padding: 10px;
}
#roster-area {
    float: right;
    background-color: #3A3A3A;
    width: 400px;
    border: 2px solid #6B6B47;
}
#notes{
    display:inline;
}

#corkboard {
    float: left;
    height: 1024px;
    width: 500px;
    overflow-y: auto;
}
#nav {
    background: linear-gradient(to left, white, black);
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#nav li {
    display: inline;
    margin:0;
    padding:0;
}
.note {
    margin-left:4px;
    margin-top:4px;
    padding:10px;
    border: 2px solid gray;
    width: 200px;
    height: 250px;
    float:left;
    background: linear-gradient(to bottom right, #7E7E7E, #D1D1C2);
    text-align: center;
}
.note .text {
    font-size: 15px;
    color: black; 
    font-weight: italic;
    text-align: center;
}
.note .jid {
    font-size: 8px;
    text-align: center;
    color: black;
}
.note span.note_date {
    font-size: 8px;
    text-align: center;
    font-weight: italic;
    color: black;
}
.note h5 {
    font-size: 20px;
    text-align: center;
    color: black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-weight: italic;
}
