
body {
    font-family: Helvetica;
    color: white;
    background: linear-gradient(to right, #999966, black); 
}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    padding: 10px;
    background-color: #ddd;
    border: solid 1px #666;
    font-weight: bold;
}

#logo {
    position: absolute;
    height: 30px;
    left:20px;
    top: 20px;
    border: solid 4px solid black;

}

.button:hover {
    background-color: #ddf;
}

#toolbar {
    text-align: center;
    margin-bottom: 15px;
}

#chat-area {
    float: left;
    width: 600px;
    height: 300px;
}

.chat-messages {
    height: 180px;
    border-bottom: solid 2px #ddd;
    overflow: auto;
}

#chat-area input {
    margin-top: 10px;
    width: 95%;
}

#roster-area {
    float: right;
    border-left: solid 2px #ddd;
    padding: 10px;
    width: 250px;
    height: 300px;
}

.chat-name {
    color: #c33;
}

.chat-message .me {
    color:#33c;
}

.chat-event {
    font-style: italic;
    font-size: 75%;
}

.roster-contact {
    padding: 3px;
}

.roster-contact:hover {
    background-color: #aaa;
    color: white;
}

.roster-name {
    font-size: 150%;
}

.online {
    color: #3c3;
}

.away {
    color: #c33;
}

.offline {
    color: #ccc;
}

#log {
    padding: 10px;
}
#roster-area {
    position: absolute;
    left:50px;
    background-color: #3A3A3A;
    width: 400px;
    height: 150px;
    top: 600px;
    border: 2px solid #6B6B47;
}
#notes {
    float: left;
    width: 100%;
    display: inline;
}
.note {
    border: 2px solid #6B6B47;
    width: 200px;
    display: inline-block;
    background-color: #3A3A3A;
    padding: 20px;
}
.note .text {
    font-size: 15px;
    color: black; 
    font-weight: italic;
}
.note .jid {
    font-size: 6px;
}
.note span.note_date {
    font-size: 8px;
    font-weight: italic;
}
.note h5 {
    font-size: 20px;
    color: #B26B00;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-weight: italic;
}
